### Example user template template
### Example user template
#git rm -r –cached .
#git add .
#git commit -m “update .gitignore”

# IntelliJ project files
.idea
*.iml
out
gen

/restock/telegram_info.txt